.App {
  position: relative;
  .copy-rights {
    position: absolute;
    bottom: 0;
    right: 43%;
    margin-bottom: 5px;
    .p-link {
      color: #000;
    }
  }
}

@media (max-width: 575.98px) {
  .App {
    .copy-rights {
      right: 25%;
    }
  }
}
